* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#profile {
    background-color: royalblue;
}

#education {
    background-color: aquamarine;
}

#skills {
    background-color: crimson;
}

nav {
    position: fixed;
    top: 0;
    background-color: white;
}

nav .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

nav .container ul li {
    display: inline-block;
}

nav .container ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}

nav .container ul li.active {
    background-color: crimson;
    transition: 0.3s ease background-color;
}

nav .container ul li.active a {
    color: rgb(255, 255, 255);
}

/*
h1 {
    font-size: 5vh;
    text-align: center;
}

h2 {
    font-size: 4vh;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 3.5vh;
    text-align: center;
    text-shadow: 0.5vh 1vh 1vh rgba(141, 150, 164, 0.6);
}

p, ul, ol, a {
    font-size: 3vh;
    line-height: 4.8vh;
}

pre {
    font-size: 2.5vh;
    line-height: 4vh;
}

code {
    line-height: 3vh;
    word-spacing: 1.5vh;
}

body {
    background: #F5FFFA;
    font-family: Georgia, serif;
}*/

/*.general {
    margin: 1.5vh;
    padding: 1vh;
}

.general__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 2vh;
    padding: 1.5vh;
    border: 0.5vh solid #D7DBDD;
}

.photo1 {
    width: 80vh;
    height: 55vh;
    background-image: url('./photo/info_photo.JPG');
    background-size: cover;
    background-position: 50% 50%;
}

.photo2 {
    width: 80vh;
    height: 55vh;
    background-image: url('./photo/volzhsky2021.JPG');
    background-size: cover;
    background-position: 50% 50%;
}

.general__icon-hand {
    position: absolute;
    top: 2.5vh;
    left: 5vh;
    font-size: 9vh;
}
*/
/*.general__main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}*/

/*.general__info, .general__contacts, .general__education, .general__skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 50%;
    align-content: space-around;
}*/
/*
.general__icon-phone {
    margin: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5vh solid #D7DBDD;
    font-size: 7vh;
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
    box-shadow: 0 1vh 0.5vh rgba(0, 0, 0, 0.05),
    0 1.5vh 2vh rgba(0, 0, 0, 0.05),
    0 2vh 3vh rgba(0, 0, 0, 0.05);
}

.general__education {
    font-weight: bolder;
}

.general__quotes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

blockquote {
    background: #f4f4f4;
    border-left: 2vh solid #666666;
    margin: 2vh 10vh;
    padding: 1.5vh 7vh;
    quotes: "\201C" "\201D" "\2018" "\2019";
    box-shadow: 1vh 1vh 1vh #d2cfc6;
}

blockquote:before {
    color: #666666;
    content: open-quote;
    font-size: 7vh;
    line-height: 1.5vh;
    margin-right: 1vh;
    vertical-align: -3vh;
}

cite {
    flex: 2 2 50%;
}

.general__code-snippet {
    display: flex;
    flex-direction: column;
}

.general__code-snippet pre {
    background: #f4f4f4;
    border: 0.5vh solid #ddd;
    border-left: 2vh solid #666666;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 2.5vh;
    line-height: 1.6;
    margin-bottom: 1.5vh;
    max-width: 100%;
    overflow: auto;
    padding: 2vh 2vh;
    display: block;
    word-wrap: break-word;
}*/
/*

.footer {
    padding: 1vh;
    margin: 2vh;
}

.footer__table {
    display: grid;
    grid-template-columns: 1fr 1fr 50%;
    grid-gap: 2vh;
}

.footer__table > div {
    padding: 2vh;
    border: 0.6vh inset rgba(141, 150, 164, 0.6);
    text-align: center;
    background: #f4f4f4;
}

.footer__table > div:nth-child(6n+1), .footer__table > div:nth-child(6n+2), .footer__table > div:nth-child(6n+3) {
    padding: 2vh;
    font-style: oblique;
    background: #c9def7;
}

.footer_load-time {
    text-align: center;
}

.footer__ascii-block {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 3vh;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .footer__ascii-block {
        display: none;
    }
}*/
