h1 {
    font-size: 7vh;
    text-align: center;
}

h2 {
    font-size: 4vh;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 3.5vh;
    text-align: center;
    text-shadow: 0.5vh 1vh 1vh rgba(141, 150, 164, 0.6);
}

p, ul, ol, a, span {
    font-size: 2.5vh;
    line-height: 4.8vh;
}

ul {
    list-style-type: none;
}

pre {
    font-size: 2.5vh;
    line-height: 4vh;
}

* {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    background: lavender;
    font-family: Georgia, serif;
}

.main__rollback {
    margin-top: 4vh;
}

button:hover {
    cursor: pointer;
    background-color: cadetblue;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
}

.main__todo-form {
    margin: 6vh 0;
}

.main__todo-input {
    border: none;
    outline: none;
    border-radius: 1.5vh;
    padding: 1.5vh;
    margin-right: 2vh;
    font-size: 2.8vh;
}

.main__add-button {
    background-color: darkorchid;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 1.5vh;
    padding: 1.5vh;
    font-size: 2.8vh;
}

.main__todo-items {
    min-width: 100%;
}

.item {
    background-color: #fff;
    padding: 1.5vh;
    font-size: 2.8vh;
}

.item:first-child {
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
}

.item:last-child {
    border-bottom-left-radius: 1.5vh;
    border-bottom-right-radius: 1.5vh;
}

.checkbox {
    margin-right: 1.7vh;
}

.delete-button {
    float: right;
    background-color: darkorchid;
    border: none;
    outline: none;
    border-radius: 1vh;
    padding: 1.1vh 1.1vh;
    margin-left: 2vh;
    font-size: 2.8vh;
}

.checked {
    text-decoration: line-through;
}